@model HybridCsharpAngular.Models.OpenGraph
@{
    Layout = null;
}

<!DOCTYPE html>
<html data-ng-app="Proj" ng-controller="CatalokoCtrl" lang="pt-br">
<head>

    <base href="/" />

    <meta charset="utf-8" />

    <title>@Model.title</title>

    <meta name="description" content="@Model.description" />

    <meta http-equiv="Content-Language" content="pt-br">

    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="keywords" content="">

    <meta name="author" content="Catáloko | Alberto Roque">

    <meta name="robots" content="index,follow">

    <meta name="distribution" content="global">

    <meta name="copyright" content="Copyright(c) 2018 Catáloko">

    <meta property="og:title" content="@Model.title" />

    <meta property="og:image" content="@Model.image" />

    <meta property="og:description" content="@Model.description" />

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

</head>

<body id="conteudo-principal">

    <div layout="row" flex="100">

        <md-button ng-click="$root.irPara('')">
            IR PARA HOME
        </md-button>

        <md-button ng-click="$root.irPara('noticias')">
            IR NOTICIAS
        </md-button>

        <md-button ng-click="$root.irPara('n/titulo/1')">
            NOTICIA 1
        </md-button>
    </div>

    <div layout="row" flex="100">
        <div layout="column" flex ng-view autoscroll="true"></div>
    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-cookies.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
</body>

<script type="text/javascript">


    window.changePageTitle = function (title) {
        document.title = title;
    }


    angular.module('Proj', [
        'ngRoute',
        'ngMaterial',
        'ngCookies',
        'ngAnimate',
        'ngMessages',
    ])

        //---- REDIRECT INICIAL -------------
        //-----------------------------------
        .config([
            '$routeProvider', '$httpProvider', '$locationProvider',
            function ($routeProvider, $httpProvider, $locationProvider) {

                //$REMOVE_IONIC
                $locationProvider.html5Mode(true);

                $httpProvider.defaults.useXDomain = true;
                delete $httpProvider.defaults.headers.common['X-Requested-With'];

                $routeProvider.otherwise(
                    {
                        redirectTo: '/erro/404'
                    });

            }
        ])


        // ------ VIRTUAL PAGES GOOGLE ANALITYCS ------------
        .run(["$rootScope", function ($rootScope) {

            $rootScope.$on("$routeChangeStart", function (event, next, current) {                
                window.changePageTitle(next.title);
            })
        }])



        .config(['$routeProvider',
            function ($routeProvider) {

                $routeProvider
                    .when('/', {
                        controller: 'CatalokoCtrl',
                        templateUrl: 'app/home/partials/home.tpl.html',
                        title: 'Catáloko'
                    })
                    .when('/noticias', {
                        controller: 'CatalokoCtrl',
                        templateUrl: 'app/news/partials/list.tpl.html',
                        title: 'Notícias'
                    })
                    .when('/n/:title/:id', {
                        controller: 'CatalokoCtrl',
                        templateUrl: 'app/news/partials/news.tpl.html',
                        title: 'Notícias'
                    })

                    .when('/loja', {
                        controller: 'CatalokoCtrl',
                        templateUrl: 'app/loja/partials/view.tpl.html',
                        title: 'Store'
                    })

            }])


        .controller('CatalokoCtrl', ['$scope', '$rootScope', '$q', '$http', '$window', '$mdToast', '$mdMedia', '$location', '$mdDialog',
            function ($scope, $rootScope, $q, $http, $window, $mdToast, $mdMedia, $location, $mdDialog) {

                $rootScope.irPara = function (page) {
                    $location.path(page);
                }

                $rootScope.changePageTitle = function (title) {
                    window.changePageTitle(title);
                }

            }])


</script>
</html>

